@import '~antd/dist/antd.css';

//清除浮动
.clrfix {
    zoom: 1
}

.clrfix:after {
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
    content: "."
}

//flex布局
.g-flex{
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}



//工程名和增加任务
.task-wrapper {
    padding: 24px;
    display: flex;
    .task-search{
        position: absolute;
        right: 50px;
    }
    .task-name {
        width: 100px;
        margin-right: 10px;
        line-height: 32px;
    }
}

.task-desc {
    max-width: 500px;
    overflow: hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
}
// 确定按钮确定在最下面
.btn {
    display: block;
    margin-top: 10px;
}

//modal的宽度
.ant-modal-wrap {
    .ant-modal {
        .ant-modal-content {
            width: 800px;
            position: absolute;
            left: 50%;
            margin-left: -400px;
        }

    }
}

//分页
.pagination {
    float: right;
    margin: 16px 0;
}

//任务名称，任务说明，watcher链接的布局
.task-item {
    //display: -webkit-box;
    //display: -webkit-flex;
    //display: -ms-flexbox;
    //display: flex;
    margin-bottom: 10px;
    .ant-form-item-label {
        width: 100px;
    }
    .ant-form-item-control-wrapper {
        flex: 1;
    }
}

// 特征监控上半部分的布局
.feature-item {
    //display: -webkit-box;
    //display: -webkit-flex;
    //display: -ms-flexbox;
    //display: flex;
    .feature-left{
        width: 300px;
        margin-bottom: -10px;
    }
    .ant-select{
        width: 100px;
        margin-right: 10px;
    }
    &:first-child{
        margin-right: 20px;
    }
    .ant-form-item{
        margin-bottom: 0;
    }
    .ant-form-item-label {
        width: 100px;
    }
}

.ant-form-item-label label {
    color: rgba(0, 0, 0, 0.65);
}



//用户配置的
.user-wrapper {
    .ant-form-item-label {
        width: 150px;
    }
    .ant-form-item-control-wrapper{
        flex: 1;
    }
}